@using lib

@if (IsLoading)
{
    <div class="spinner-overlay">
        <div class="spinner-border"></div>
    </div>
}
else if (ErrorMessage != null)
{
    <p class="text-danger">@ErrorMessage</p>
}
else
{
    foreach (var comment in Comments!)
    {
        <div class="mb-3">
            <CommentCard Comment="@comment"/>
        </div>
    }
}

@code {

    #region Properties
    
    [Parameter] public CommentPreview[] Comments { get; set; }
    [Parameter] public bool IsLoading { get; set; }
    [Parameter] public string ErrorMessage { get; set; }

    #endregion
    
}